.otp-inpot{
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    height: 42px;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 278px;
} 
.otp-top {
    font-size: 24px;
    font-family: sans-serif;
}

.otp-resend {
    color: gray;
}
.otp-continue-container {
    display: flex;
    height: 142px;
    align-items: flex-end;
}