.header-top{
    
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    height: 184px;
    color: white;
    font-size: 21px;
    justify-content: flex-end;
    align-items: center;
}
.header-below{
    display: flex;
    height: 354px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.login-btn{
    display: flex;
    justify-content: space-around;

}
.login{
    height: 34px;
    /* border: chocolate; */
    background-color: white;
    border-radius: 14px;
    display: flex;
    width: 290px;
    flex-direction: column;
    justify-content: center;
}