.aLL{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header {
    width: 418px;
    height: 727px;

    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    background: linear-gradient( #FF7457, #FC2A7B);
 
}

.Number {
    width: 418px;
    height: 627px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;;
}

.otp {
    padding: 28px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;
}

.terms {

    padding: 28px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;
}
.Name{

    padding: 32px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;

}
.birthday {
    padding: 32px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;
}
.gender{
    padding: 32px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;
}

.showGender{

    padding: 32px;
    width: 418px;
    height: 581px;
    border-radius: 19px;
    display: flex;
    align-items: flex-start;
    background-color:white;
}